<!--DISPONIVEL & RISCOS-->
<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
   <thead>
      <tr>
         <th class='border'>Disponível</th>
         <th class='border'>Preço</th>
         <th class='border'>Preço</th>
         <th class='border'>Risco</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td id='disp_00' class='border'>xxxx</td>
         <td id='disp_01' class='border'>xxxx</td>
         <td id='risk_00' class='border'>xxxx</td>
         <td id='risk_01' class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='disp_10' class='border'>xxxx</td>
         <td id='disp_11' class='border'>xxxx</td>
         <td id='risk_10' class='border'>xxxx</td>
         <td id='risk_11' class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='disp_20' class='border'>xxxx</td>
         <td id='disp_21' class='border'>xxxx</td>
         <td id='risk_20' class='border'>xxxx</td>
         <td id='risk_21' class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='disp_30' class='border'>xxxx</td>
         <td id='disp_31' class='border'>xxxx</td>
         <td id='risk_30' class='border'>xxxx</td>
         <td id='risk_31' class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='disp_40' class='border'>xxxx</td>
         <td id='disp_41' class='border'>xxxx</td>
         <td id='risk_40' class='border'>xxxx</td>
         <td id='risk_41' class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='disp_50' class='border'>xxxx</td>
         <td id='disp_51' class='border'></td>
         <td id='risk_50' class='border'></td>
         <td id='risk_51' class='border'>xxxx</td>
      </tr>
   </tbody>
</table>

<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
   <thead>
      <tr>
         <th class='border'>Fila</th>
         <th class='border'>Preço</th>
         <th class='border'>Preço</th>
         <th class='border'>Risc Stop</th>
      </tr>
   </thead>
    <tbody>
      <tr>
         <td id='fila_00'        class='border'>xxxx</td>
         <td id='fila_01'        class='border'>xxxx</td>
         <td id='risk_stop_00'   class='border'>xxxx</td>
         <td id='risk_stop_01'   class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='fila_10'        class='border'>xxxx</td>
         <td id='fila_11'        class='border'>xxxx</td>
         <td id='risk_stop_10'   class='border'>xxxx</td>
         <td id='risk_stop_11'   class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='fila_20'        class='border'>xxxx</td>
         <td id='fila_21'        class='border'>xxxx</td>
         <td id='risk_stop_20'   class='border'>xxxx</td>
         <td id='risk_stop_21'   class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='fila_30'        class='border'>xxxx</td>
         <td id='fila_31'        class='border'>xxxx</td>
         <td id='risk_stop_30'   class='border'>xxxx</td>
         <td id='risk_stop_31'   class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='fila_40'        class='border'>xxxx</td>
         <td id='fila_41'        class='border'>xxxx</td>
         <td id='risk_stop_40'   class='border'>xxxx</td>
         <td id='risk_stop_41'   class='border'>xxxx</td>
      </tr>
      <tr>
         <td id='fila_50'        class='border'>xxxx</td>
         <td id='fila_51'        class='border'></td>
         <td id='risk_stop_50'   class='border'></td>
         <td id='risk_stop_51'   class='border'>xxxx</td>
      </tr>
   </tbody>
</table>
