<!--DISPONIVEL & RISCOS-->
<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
   <thead>
      <tr>
         <th class='border'>Risco</th>
         <th class='border'>Preço</th>
         <th class='border'>Preço</th>
         <th class='border'>Disponível</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
   </tbody>
</table>

<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--2-col">
   <thead>
      <tr>
         <th class='border'>Risc Stop</th>
         <th class='border'>Preço</th>
         <th class='border'>Preço</th>
         <th class='border'>Fila</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>3108.50</td>
         <td class='border'>3108.50</td>
         <td class='border'>100</td>
      </tr>
   </tbody>
</table>
