   <!--DADOS GERAIS-->
   <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <thead>
         <tr>
            <th class='border'>Index</th>
            <th class='border'>Time inicial</th>
            <th class='border'>Paddi</th>
            <th class='border'>Qadd</th>
            <th class='border'>Side</th>
            <th class='border'>Padds</th>
            <th class='border'>Qadds</th>
            <th class='border'>Paddf</th>
            <th class='border'>x</th>
            <th class='border'>Paddw</th>
            <th class='border'>Qaddw</th>
            <th class='border'>Paddsw</th>
            <th class='border'>Qaddsw</th>
            <th class='border'>Time final</th>
            <th class='border'>VWAP</th>
            <th class='border'>RPS</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td id='index_occ'             >xxxx</td>
            <td id='start_time' class='border'             >xxxx</td>
            <td id='paddi'    class='border'>xxxx</td>
            <td id='qadd'     class='border'>xxxx</td>
            <td id='side'     class='border'>xxxx</td>
            <td id='padds'    class='border'>xxxx</td>
            <td id='qadds'    class='border'>xxxx</td>
            <td id='paddf'    class='border'>xxxx</td>
            <td id='x'        class='border'>xxxx</td>
            <td id='paddw'    class='border'>xxxx</td>
            <td id='qaddw'    class='border'>xxxx</td>
            <td id='paddsw'   class='border'>xxxx</td>
            <td id='qaddsw'   class='border'>xxxx</td>
            <td id='end_time' class='border'>xxxx</td>
            <td id='vwap'                   >xxxx</td>
            <td id='RPS_INFO' class="border">xxxx</td>
         </tr>
      </tbody>
   </table>
