<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
         <tr>
            <th  class='border' colspan="8" style="text-align: center;"><b>Estatísticas</b></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td></td>
            <td></td>
            <td  class='border'colspan="2" class="color2  border" style="text-align: center;">Spread zarado</td>
            <td  class='border'colspan="3" class="color3  border" style="text-align: center;">Spread zerado +3s</td>
            <td></td>
         </tr>
         <tr>
            <td></td>
            <td class="color1  border" style="text-align: center;">Momento ADD</td>
            <td class="color2  border" style="text-align: center;">1 linha</td>
            <td class="color2  border" style="text-align: center;">Ultima linha</td>
            <td class="color3  border" style="text-align: center;">1s</td>
            <td class="color3  border" style="text-align: center;">2s</td>
            <td class="color3  border" style="text-align: center;">3s</td>
            <td class="color4  border" style="text-align: center;">DELL no cheio</td>
         </tr>
         <tr>
            <td>Porcentagem removida no QADDW/WDO:</td>
            <td class="color1  border" style="text-align: center;">n/c</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Tinha buraco no book na hora do ADD?</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Qual o OFI (QADD - Outro lado)</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Houve DELL no ADD?</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border"  colspan="2"  style="text-align: center;">100</td>
            <td class="color3  border"  colspan="3"  style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Teve iceberg após o DELL?</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border"  colspan="2"  style="text-align: center;">100</td>
            <td class="color3  border"  colspan="3"  style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Teve ADD secundário após o DELL?</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border"  colspan="2"  style="text-align: center;">100</td>
            <td class="color3  border"  colspan="3"  style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>O evento estava a favor ou contra o VWAP? </td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border"  colspan="2"  style="text-align: center;">100</td>
            <td class="color3  border"  colspan="3"  style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Frequência</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border"  colspan="2"  style="text-align: center;">100</td>
            <td class="color3  border"  colspan="3"  style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>RPS</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Somatório do saldo de C & V</td>
            <td class="color1  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color2  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
            <td class="color3  border" style="text-align: center;">100</td>
         </tr>
      </tbody>
   </table>