<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
         <tr>
            <th  class='border' colspan="8" style="text-align: center;"><b>Estatísticas</b></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td></td>
            <td></td>
            <td  class='border'colspan="2" class="color2  border" style="text-align: center;">Spread zarado</td>
            <td  class='border'colspan="3" class="color3  border" style="text-align: center;">Spread zerado +3s</td>
            <td></td>
         </tr>
         <tr>
            <td></td>
            <td class="color1  border" style="text-align: center;">Momento ADD</td>
            <td class="color2  border" style="text-align: center;">1 linha</td>
            <td class="color2  border" style="text-align: center;">Ultima linha</td>
            <td class="color3  border" style="text-align: center;">1s</td>
            <td class="color3  border" style="text-align: center;">2s</td>
            <td class="color3  border" style="text-align: center;">3s</td>
            <td class="color4  border" style="text-align: center;">DELL no cheio</td>
         </tr>
         <tr>
            <td>Porcentagem removida no QADDW/WDO:</td>
            <td id='pqaddw_0' class="color1  border" style="text-align: center;">n/c</td>
            <td id='pqaddw_1' class="color2  border" style="text-align: center;">999</td>
            <td id='pqaddw_2' class="color2  border" style="text-align: center;">100</td>
            <td id='pqaddw_3' class="color3  border" style="text-align: center;">100</td>
            <td id='pqaddw_4' class="color3  border" style="text-align: center;">100</td>
            <td id='pqaddw_5' class="color3  border" style="text-align: center;">100</td>
            <td id='pqaddw_6' class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Tinha buraco no book na hora do ADD?</td>
            <td id='tem_buraco_0' class="color1  border" style="text-align: center;">100</td>
            <td id='tem_buraco_1' class="color2  border" style="text-align: center;">100</td>
            <td id='tem_buraco_2' class="color2  border" style="text-align: center;">100</td>
            <td id='tem_buraco_3' class="color3  border" style="text-align: center;">100</td>
            <td id='tem_buraco_4' class="color3  border" style="text-align: center;">100</td>
            <td id='tem_buraco_5' class="color3  border" style="text-align: center;">100</td>
            <td id='tem_buraco_6' class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Qual o OFI (QADD - Outro lado)</td>
            <td id='ofi_0' class="color1  border" style="text-align: center;">100</td>
            <td id='ofi_1' class="color2  border" style="text-align: center;">100</td>
            <td id='ofi_2' class="color2  border" style="text-align: center;">100</td>
            <td id='ofi_3' class="color3  border" style="text-align: center;">100</td>
            <td id='ofi_4' class="color3  border" style="text-align: center;">100</td>
            <td id='ofi_5' class="color3  border" style="text-align: center;">100</td>
            <td id='ofi_6' class="color4  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Houve DELL no ADD?</td>
            <td id='dell_add_0' class="color1 border" style="text-align: center;">100</td>
            <td id='dell_add_1' class="color2 border" style="text-align: center;">100</td>
            <td id='dell_add_2' class="color2 border" style="text-align: center;">100</td>
            <td id='dell_add_3' class="color3 border" style="text-align: center;">100</td>
            <td id='dell_add_4' class="color3 border" style="text-align: center;">100</td>
            <td id='dell_add_5' class="color3 border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Teve iceberg após o DELL?</td>
            <td id='iceberg_0' class="color1  border" style="text-align: center;">100</td>
            <td id='iceberg_1' class="color2  border" style="text-align: center;">100</td>
            <td id='iceberg_2' class="color2  border" style="text-align: center;">100</td>
            <td id='iceberg_3' class="color3  border" style="text-align: center;">100</td>
            <td id='iceberg_4' class="color3  border" style="text-align: center;">100</td>
            <td id='iceberg_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Teve ADD secundário após o DELL?</td>
            <td id='add_secundario_0' class="color1  border" style="text-align: center;">100</td>
            <td id='add_secundario_1' class="color2  border" style="text-align: center;">100</td>
            <td id='add_secundario_2' class="color2  border" style="text-align: center;">100</td>
            <td id='add_secundario_3' class="color3  border" style="text-align: center;">100</td>
            <td id='add_secundario_4' class="color3  border" style="text-align: center;">100</td>
            <td id='add_secundario_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>O evento estava a favor ou contra o VWAP? </td>
            <td id='vwap_0' class="color1  border" style="text-align: center;">100</td>
            <td id='vwap_1' class="color2  border" style="text-align: center;">100</td>
            <td id='vwap_2' class="color2  border" style="text-align: center;">100</td>
            <td id='vwap_3' class="color3  border" style="text-align: center;">100</td>
            <td id='vwap_4' class="color3  border" style="text-align: center;">100</td>
            <td id='vwap_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Frequência</td>
            <td id='frequencia_0' class="color1  border" style="text-align: center;">100</td>
            <td id='frequencia_1' class="color2  border" style="text-align: center;">100</td>
            <td id='frequencia_2' class="color2  border" style="text-align: center;">100</td>
            <td id='frequencia_3' class="color3  border" style="text-align: center;">100</td>
            <td id='frequencia_4' class="color3  border" style="text-align: center;">100</td>
            <td id='frequencia_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>RPS</td>
            <td id='rps_0' class="color1  border" style="text-align: center;">100</td>
            <td id='rps_1' class="color2  border" style="text-align: center;">100</td>
            <td id='rps_2' class="color2  border" style="text-align: center;">100</td>
            <td id='rps_3' class="color3  border" style="text-align: center;">100</td>
            <td id='rps_4' class="color3  border" style="text-align: center;">100</td>
            <td id='rps_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
         <tr>
            <td>Somatório do saldo de C & V</td>
            <td id='saldo_0' class="color1  border" style="text-align: center;">100</td>
            <td id='saldo_1' class="color2  border" style="text-align: center;">100</td>
            <td id='saldo_2' class="color2  border" style="text-align: center;">100</td>
            <td id='saldo_3' class="color3  border" style="text-align: center;">100</td>
            <td id='saldo_4' class="color3  border" style="text-align: center;">100</td>
            <td id='saldo_5' class="color3  border" style="text-align: center;">100</td>
         </tr>
      </tbody>
   </table>