<% for i in 1..7%>
<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
   <thead>
      <tr alt='1ยบ snapshot: No momento em que houve o ADD'>
         <th colspan="4" class='border'> 1ยบ snapshot: Momento do ADD</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class='border'>140</td>
         <td class='border' style=" background: #ff8508; ">160</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
         <td class='border'>100</td>
      </tr>
      <tr>
         <td class='border' style="background: #ceffce;" >500</td>
         <td style="background: #ceffce;" ></td>
         <td style="background: #ceffce;" ></td>
         <td class='border' style="background: #ceffce;" >500</td>
      </tr>
   </tbody>
</table>
<%end%>
