
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
      <thead>
         <tr>
            <th class='border'>Paddw</th>
            <th class='border'>Qaddw</th>
            <th class='border'>Removido</th>
            <th class='border'>Cancelado</th>
            <th class='border'>Adicionado</th>
            <th class='border'>D + C + CANC</th>
            <th class='border'>D + C</th>
            <th class='border'>Tipo de Cálculo</th>
            <th class='border'>Financeiro</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td id='sz_paddw' class='border'>xxxx</td>
            <td id='sz_qaddw' class='border'>xxxx</td>
            <td id='sz_removido_qaddw' class='border'>xxxx</td>
            <td id='sz_cancelado_qaddw' class='border'>xxxx</td>
            <td id='sz_adicionado_qaddw' class='border'>xxxx</td>
            <td id='sz_porcentagem_qaddw' class='border'>xxxx</td>
            <td id='sz_porcentagem_real_qaddw' class='border'>xxxx</td>
            <td id='sz_calculo' class='border'>xxxx</td>
            <td id='sz_financeiro' class='border'>xxxx</td>
         </tr>
      </tbody>
   </table>

   <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px"></h5>
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
      <thead>
         <tr>
            <th class='border'>Paddsw</th>
            <th class='border'>Qaddsw</th>
            <th class='border'>Removido</th>
            <th class='border'>Cancelado</th>
            <th class='border'>Adicionado</th>
            <th class='border'>D + C + CANC</th>
            <th class='border'>D + C</th>
            <th class='border'>Teria lucro com 1 TICK a mais ?</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td id='sz_paddsw' class='border'>xxxx</td>
            <td id='sz_qaddsw' class='border'>xxxx</td>
            <td id='sz_removido_qaddsw' class='border'>xxxx</td>
            <td id='sz_cancelado_qaddsw' class='border'>xxxx</td>
            <td id='sz_adicionado_qaddsw' class='border'>xxxx</td>
            <td id='sz_porcentagem_qaddsw' class='border'>xxxx</td>
            <td id='sz_porcentagem_real_qaddsw' class='border'>xxxx</td>
            <td id='sz_teria_lucro' class='border'>xxxx</td>
         </tr>
      </tbody>
   </table>
