 
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
      <thead>
         <tr>
            <th class='border'>Paddw</th>
            <th class='border'>Qaddw</th>
            <th class='border'>Removido</th>
            <th class='border'>Porcentagem</th>
            <th class='border'>Porcentagem Real</th>
            <th class='border'>Tipo de Cálculo</th>
            <th class='border'>Financeiro</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class='border'>Paddw</td>
            <td class='border'>Qaddw</td>
            <td class='border'>Removido</td>
            <td class='border'>Porcentagem</td>
            <td class='border'>Porcentagem Real</td>
            <td class='border'>Tipo de Cálculo</td>
            <td class='border'>Financeiro</td>
         </tr>
      </tbody>
   </table>
   
   <h5 class="mdl-cell mdl-cell--12-col" style="margin:15px"></h5>
   <table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--3-col">
      <thead>
         <tr>
            <th class='border'>Paddsw</th>
            <th class='border'>Qaddsw</th>
            <th class='border'>Removido</th>
            <th class='border'>Porcentagem</th>
            <th class='border'>Teria lucro com 1 TICK a mais ?</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class='border'>Paddsw</td>
            <td class='border'>Qaddsw</td>
            <td class='border'>Removido</td>
            <td class='border'>Porcentagem</td>
            <td class='border'>Teria lucro com 1 TICK a mais ?</td>
         </tr>
      </tbody>
   </table>